[2015-04-24 16:03] liam4 commented on #142
Why you close everything @The-Cheese-Eater ;-;

This still needs to be worked on!

[2015-04-24 16:03] GrannyCookies commented on #134
JIRA.

[2015-04-24 16:03] #134 closed

[2015-04-24 16:03] #142 closed

[2015-04-24 16:05] The-Cheese-Eater commented on #134
Yeah, if there is an important issue that needs fixing, please bring it over to JIRA. :)

[2015-04-24 16:06] The-Cheese-Eater commented on #142
See my other comment. ;)

[2015-04-24 16:07] liam4 commented on #134
OH okay. Sorry! :P

[2015-04-24 16:08] liam4 commented on #142
Ahh okay. Sorry, didn't see it

–––
Actually it wasn't there when I posted that.. :P

[2015-04-24 20:55] The-Cheese-Eater opened #147 "Notifications in JIRA/Confluence"
I know this is a GitHub issue, but seeing as some people are not using JIRA yet, I'll put this here.

If you like the notification system on GitHub to see comments posted on issues, there is a way of doing this in JIRA/Confluence. Log into your account [here](http://opensprites.atlassian.net/), once logged in, hit the Hamburger icon and select 'Confluence' from the drop-down menu. You will now see

[2015-04-24 22:04] andrewjcole commented on #147
<offtopic>Which OS is that? Is that Windows 2000 or a style for Windows 7?</offtopic>

[2015-04-25 06:34] The-Cheese-Eater commented on #147
Nah it's Windows XP. :P I use this old PC with 1.24GB of RAM and an Pentium 4 I clocked at 3.04 Ghz. Apart from the RAM, it's actually faster than my Windows 7 laptop because it doesn't have so much rubbish installed and I'm not using a fancy theme (and the clock speed is faster). :P This is actually turning into my main PC, for OpenSprites, anyhow; I have a HDD dedicated to daily backups. :P

[2015-04-25 14:02] andrewjcole commented on #147
Ah, OK. I use Windows XP for my old laptop that I'm using right now because it seems to work a lot better than Ubuntu, Windows Vista/7 and Linux Mint. It was either XP or 2000, which also worked well too, soo... :P

[2015-04-25 14:34] The-Cheese-Eater commented on #147
:P

[2015-04-25 18:16] The-Cheese-Eater commented on #147
Test comment

[2015-04-25 18:17] MegaApuTurkUltra commented on #147
Testing 123

[2015-04-25 18:24] andrewjcole commented on #147
Why are we test commenting?

[2015-04-25 18:26] GrannyCookies commented on #147
test lel

[2015-04-25 19:23] The-Cheese-Eater commented on #147
To test the Gitter integration :P

[2015-04-26 09:07] Rumanti commented on #147
I just watched the tutorial video today, (I had been busy and I just came back from my mini weekend computer-less vacation) and I feel this is a silly question but how do you contact Zeusking19 to request an account? Here? https://opensprites.atlassian.net/admin/users/sign-up ( I just did this )

[2015-04-26 09:15] The-Cheese-Eater commented on #147
I'll take a look for you. :)

[2015-04-26 10:36] #147 closed

[2015-04-26 14:11] Rumanti commented on #147
Well, I think it's correct. I got the email, logged in, and see the developer agreement (which only logged in users can see.. right?)

[2015-04-26 15:41] The-Cheese-Eater commented on #147
Yep! Click the hamburger icon in the corner to navigate to JIRA, our new issues platform.

[2015-04-26 16:38] pilppe opened #148 "Translation"
How cool would be a site translated to your own language?
Imagine OpenSprites in Hebrew? If your native language is Hebrew, why not translate it to your own language? Well its not possible right now.

We should create a transifex for our site so people can translate it. https://www.transifex.com/

[2015-04-26 16:53] MegaApuTurkUltra commented on #148
Someone move this to JIRA please.

Good idea though.

[2015-04-27 12:06] andrewjcole commented on #148
I could help with French. :P

[2015-04-27 12:10] #148 closed

[2015-05-01 16:37] Thegowgeofficial opened #149 "Local uploader"
What you guys think about software that uploads files directly from the client to the website?
The files would sync with the website without the user going on the website, reducing navigation time and making OpenSprites easier to use.

TheGowgeOffcial

[2015-05-01 17:42] GrannyCookies commented on #149
Heh, maybe.
I don't know any languages that can be made into software for Win/Mac/Linux, but I _can_ port to ChromeOS / the Chrome Web Store.

Matu is skilled at Java, though.

[2015-05-01 22:13] andrewjcole commented on #149
Aren't there things you can use to make apps with web technologies?

[2015-05-01 23:55] MegaApuTurkUltra commented on #149
Yep, plenty. Chrome apps are an option, but we could make a full blown desktop webapp with tidesdk or something similar. However we should actually get OS finished and running first :P

[2015-05-02 15:21] The-QullzToxic opened #150 "Running on the Hyperboria network?"
I just thought having it on the dark net would be 1337...

https://hyperboria.net/
Its practically a mesh system

[2015-05-02 16:10] andrewjcole commented on #149
Mobile app?

[2015-05-02 17:09] The-Cheese-Eater commented on #150
I wouldn't call that the dark-web... Anyhow, we should keep this as transparent as possible.

[2015-05-02 19:34] andrewjcole commented on #150
The site won't even load for me... :stuck_out_tongue:

[2015-05-02 19:36] The-Cheese-Eater commented on #150
It's HTTPS, just use the HTTP prefix.

[2015-05-02 20:48] MegaApuTurkUltra commented on #150
Nah. We don't want to be associated with the dark net, that's a bad place. <sub><sup>(Terrorists, drug lords, you name it)</sup></sub>How can we gain the trust of the ST like that?

[2015-05-03 07:42] #150 closed

[2015-05-03 07:47] The-Cheese-Eater opened #151 "Migrating dev site to main domain"
I put this here so everyone reads it; I know that a few people aren't fans of JIRA. :stuck_out_tongue:

Quite a few people want the developer site moved to the main domain because it's getting annoying. While this is possible, it would break a few things and could possibly mislead people into thinking we are finished. I'm willing to move the site over after hearing everybody's opinions, and a way

[2015-05-03 10:57] andrewjcole commented on #151
It would make things a lot easier, but there would be a lot of links and code to fix.

[2015-05-03 11:04] The-Cheese-Eater commented on #151
Yeah

[2015-05-03 21:18] 109C commented on #151
That only happens if URLs are hardcoded... :/

[2015-05-03 22:08] MegaApuTurkUltra commented on #151
Which, unfortunately, they are. All of my links to dev.opensprites have used some sort of global variable (ie, I introduced the `OpenSprites.domain` field in JS code) but there's a lot of hardcoding everywhere. A simple file search and replace should make this pretty easy to fix though.

[2015-05-04 06:25] The-QullzToxic commented on #150
Meh :3

[2015-05-04 07:00] The-Cheese-Eater commented on #151
So shall I go ahead?

[2015-05-04 10:08] GrannyCookies commented on #151
Go ahead. Merge the blog too

[2015-05-04 10:08] GrannyCookies commented on #151
Also the search and replace'd be easy enough

[2015-05-04 19:34] The-Cheese-Eater commented on #151
Righto, I'll do this soon. If you experience problems, you can count on this being the fault.

[2015-05-05 16:56] GrannyCookies commented on #149
"However we should actually get OS finished and running first"

[2015-05-05 18:00] The-Cheese-Eater commented on #149
""However we should actually get OS finished and running first""

[2015-05-05 19:53] andrewjcole commented on #149
I'd add more quotations, but nah.

[2015-05-06 12:28] Sonickyle27 opened #152 "Wrap text on Blog page"
Oops. The text breaks free to the right of the page, expanding it horizontally.
![screenshot from 2015-05-06 13 27 31](https://cloud.githubusercontent.com/assets/4775038/7492837/63d0623a-f3eb-11e4-93df-baaeeb803c70.png)

[2015-05-06 15:12] GrannyCookies commented on #152
Er, not it doesn't.

[2015-05-06 20:56] The-Cheese-Eater commented on #152
It does for me as well. :P

[2015-05-07 15:19] GrannyCookies commented on #152
hmmmmmmmmmmmmmmmmmmmmm

[2015-05-08 15:19] GrannyCookies commented on #151
COMPLETED.

[2015-05-08 15:19] #151 closed

[2015-05-16 15:30] #152 closed

[2015-05-16 15:32] Rumanti commented on #152
Whoops.
Anyway, I fixed it on this commit (how do you reference commits O.O)
https://github.com/OpenSprites/OpenSprites/commit/8676fca570516dd69abc3c0fb2d592170e6c021e

[2015-05-16 19:08] MegaApuTurkUltra commented on #152
@Rumanti I think you figured it out :P

You just paste the link and GitHub does the rest

[2015-06-12 15:54] Firedrake969 opened #154 "I'm inactive for some time, sorry"
can't say when I'll join back :L

[2015-06-12 16:03] 109C commented on #154
I think the "short term" label should be right... unless you'll be gone for longer.

[2015-06-12 16:17] Firedrake969 commented on #154
not for the summer for sure, can't say past that

[2015-06-12 16:26] The-Cheese-Eater commented on #154
Sorry to hear! You're welcome to come back any time you can; just drop us a message over on Gitter, the main and most active way we communicate.

[2015-06-13 13:50] #149 closed

[2015-06-14 15:57] jbayfield opened #155 "Migrate to Slack"
Because Slack is awesome.

[2015-06-14 15:58] jbayfield commented on #155
This was just a test of the new JIRA -> GitHub Issues replication system.

[2015-06-14 15:58] #155 closed

[2015-06-14 16:01] jbayfield opened #156 "Test GitHub -> JIRA Issue Replication"
Testing :)

[2015-06-14 16:08] jbayfield opened #157 "Test GitHub -> JIRA Issue Replication"
Testing :)

[2015-06-14 16:13] jbayfield opened #158 "Test GitHub -> JIRA Issue Replication"
Testing :)

[2015-06-14 16:14] #156 closed

[2015-06-14 16:14] #157 closed

[2015-06-14 16:14] #158 closed

[2015-06-14 16:18] jbayfield opened #159 "Test GitHub -> JIRA Issue Replication"
Testing :)

[2015-06-14 16:19] #159 closed

[2015-06-14 16:23] jbayfield opened #160 "Test GitHub -> JIRA Issue Replication"
Testing :)

[2015-06-14 17:43] 109C commented on #160
That's a lot of testing.

[2015-06-14 17:46] jbayfield commented on #160
This was a repetitive loop that is resolved.

[2015-06-14 17:46] #160 closed

[2015-06-14 17:47] 109C commented on #160
Ah, ok.

[2015-06-15 15:50] jbayfield commented on #154
Aw, hope to see you back after summer :(

[2015-06-15 15:54] The-Cheese-Eater opened #161 "Testing"
Lalalala

[2015-06-15 16:13] Firedrake969 commented on #161
?

[2015-06-15 16:19] #161 closed

[2015-06-16 18:58] jbayfield opened #162 "Add that slack <=> irc.gitter bot"
It would make the transition to slack easier.

[2015-06-16 20:22] 109C commented on #162
Where's the irc?

[2015-06-16 20:58] MegaApuTurkUltra commented on #162
irc.gitter.im

[2015-06-18 08:31] jbayfield opened #163 "Lightspeed Rocket blocks opensprites.org"
Lightspeed's web filtering systems currently block opensprites.org as the category 'Alcohol'.

This is obviously wrong and needs to be fixed.

[2015-06-20 08:03] The-QullzToxic commented on #163
Obviously picks up sprit

[2015-06-20 12:19] MegaApuTurkUltra commented on #163
Yet another example of how stupid the filter is. I hope you and cheese can get this sorted out.

[2015-06-20 12:32] jbayfield commented on #163
This has been resolved but not in the way I had hoped. Category changed to forums.

[2015-06-20 12:32] #163 closed

[2015-06-20 12:41] MegaApuTurkUltra commented on #163
Oh wow. Keep at it, we're supposed to be educational like scratch, so we shouldn't be blocked.

[2015-06-21 14:24] The-Cheese-Eater commented on #163
@jbayfield Would you be able to send me a copy of your correspondence with Lightspeed? I'm not pleased that OpenSprites has been branded forums. Scratch has forums, but it's still an educational site.

[2015-06-21 14:26] djdolphin commented on #163
Maybe changing the forum tab's name to "Discuss", like on Scratch, would help?

[2015-06-21 16:27] jbayfield opened #164 "Secure FTP / mail / everything"
It would be nice not to have the potential for people to hack us.

Just a thought for once we actually go into production.

[2015-06-21 16:42] jbayfield opened #165 "Make assets actually stored by their hash instead of a random ID"
I'm not sure why I decided not to do this. If I can remember why (maybe it was a good reason) then I might close this issue)

[2015-06-21 16:42] jbayfield opened #166 "OS server not able to tell client IPs"
All IPs look like 10.10.10.4 to the server.

[2015-06-21 17:57] jbayfield opened #167 "database.php isn't updated for several commits!"
This breaks user pages because some functions that are supposed to be defined, aren't.

[2015-06-21 18:32] jbayfield opened #168 "TeamCity doesn't update htaccess"
I can't test collection pages if htaccess isn't being updated in TC builds

[2015-06-21 19:24] The-Cheese-Eater commented on #163
I like the idea of changing the name to "Discuss", although I want to make sure we maintain a certain difference to Scratch.

[2015-06-21 22:32] Rumanti commented on #163
**Synonyms of discuss:**
agitate, argue, bandy, bat (around or back and forth), canvass (also canvas), debate, dispute, hash (over or out), moot, talk over
**Similar words:**
 review, speak (about), talk (about); broach, introduce, propound, raise, stir up; forge, hammer out, talk out, thrash (out), wrestle (with); chew over, consider, deliberate, weigh
_None of those seems right.._
http://www.mer

[2015-06-22 03:11] bobbybee commented on #165
@jbayfield Doesn't sound like a good idea! How are you dealing with collisions?

[2015-06-22 14:51] liam4 commented on #163
Really? I like "hammer out".

[2015-06-22 15:08] MegaApuTurkUltra commented on #165
Remember that it's not jbayfield opening these. I actually opened this on jira and a bot synced this here.

Of course collisions right now are not handled well either. The chances of one happening are really low, however I've been thinking about some sort of system to handle them.

I'll probably close this issue. It's too much work to implement. I can figure out some other way to support unlisted

[2015-06-23 03:07] Rumanti commented on #163
It does not matter whether you like it or not, lol. "Hammer out" doesn't sound "educational" and probably will scare peoples (and or their parents). xD

[2015-06-23 14:17] Firedrake969 commented on #163
we still need to hammer out the right name for the forums :P

[2015-06-23 17:13] The-Cheese-Eater commented on #163
I think we'll have to go with Discuss unless we can thing of an alternative?

[2015-06-24 20:36] andrewjcole commented on #163
Here are some options:
• Discuss
• Forums
• Talk
• Converse
• Say stuff
• Verbally Communicate
• Partake in a conversation

[2015-06-25 00:08] Rumanti commented on #163
The last two are the best ideas @andrewjcole XP

[2015-06-25 14:43] MegaApuTurkUltra commented on #163
I actually like "Talk"

[2015-06-25 14:49] djdolphin commented on #163
@MegaApuTurkUltra I have a feeling that if it was changed to "Talk", OpenSprites would be recategorized as a chatroom.

[2015-06-25 21:15] The-Cheese-Eater commented on #163
@djdolphin I think that would happen too.

[2015-06-25 21:26] #154 closed

[2015-06-25 21:26] #162 closed

[2015-06-25 21:26] #164 closed

[2015-06-25 21:26] #167 closed

[2015-06-25 21:26] #168 closed

[2015-06-25 21:26] #165 closed

[2015-07-29 19:49] The-QullzToxic commented on #166
You need this?

[2015-07-29 20:19] MegaApuTurkUltra commented on #166
Yes, we do. For analytics and administration (specifically, potentially required IP bans which jbayfield already has had to do for gwiddle services)

[2015-09-15 21:37] MegaApuTurkUltra commented on #166
Potential solution: Use `X-Forwarded-For` which I think nginx sets.

[2015-09-15 22:47] liam4 opened #170 "Make Carousels"
The carousels have not been made yet, as you can tell by this screenshot:

![screen shot 2015-09-15 at 7 45 39 pm](https://cloud.githubusercontent.com/assets/9948030/9892123/3dd8335a-5be2-11e5-940f-d05a8e66541e.png)

We should probably finish those..

[2015-09-15 23:10] liam4 opened #171 "Make dropdown menus distinct from other solid-green elements"
The easiest way to show this is when you hover over the **Browse** menu at the top of the homepage, which will make the menu blend in with the **OpenSprites is in development!** alert:

![screen shot 2015-09-15 at 8 10 59 pm](https://cloud.githubusercontent.com/assets/9948030/9892495/c06b9f48-5be5-11e5-92cc-ec34e49ee612.png)

[2015-09-16 09:09] Rumanti commented on #171
Why don't you use Atlassian?? :stuck_out_tongue_winking_eye:  Nah just kidding. Maybe box-shadows.. Hmm.

[2015-09-16 09:10] Rumanti commented on #170
For Top Collections, someone should implement front-end for collections **first**.. _looks at myself_

[2015-09-16 20:30] The-Cheese-Eater commented on #170
I'm pretty sure we have the back-end up to support the carousels, so this feature is waiting for someone to make it.

[2015-09-17 01:33] MegaApuTurkUltra commented on #171
Yeah I think I did something for this but it got reverted because I suck at making stuff look good. A box shadow sounds good, just classic `2px 2px 5px black` will probably do the trick

[2015-09-17 14:51] Rumanti commented on #171
----> 138ffc444e151a49842905d98423fe3b10290dc1

[2015-09-17 18:59] liam4 commented on #171
Because I don't get on Atlassian every day.. :package:

[2015-09-17 20:04] liam4 opened #172 "Change logo padding in toolbar"
(Haha. I like making issues >:D)

The padding for the logo in the toolbar is really off-centered.

![screen shot 2015-09-17 at 5 04 08 pm](https://cloud.githubusercontent.com/assets/9948030/9944497/10c3b60a-5d5e-11e5-902d-a9559793160a.png)

The padding beside the **S** is a lot more than the padding beside the OS logo badge thing. Might not be a bad idea to increase it slightly to match.

[2015-09-18 00:15] Rumanti commented on #171
Fixed it. Looks good to me.

[2015-09-18 16:38] liam4 commented on #171
Agreed, great, just make the menus `z-index` lower than the tool bar's so that the shadow doesn't go up on to the tool bar.

[2015-09-18 16:52] liam4 opened #173 "Forum footer and main footer look different"
Forum footer:

![screen shot 2015-09-18 at 1 40 25 pm](https://cloud.githubusercontent.com/assets/9948030/9965380/4759761a-5e0c-11e5-8444-5e6b7aa20126.png)

I prefer the main footer (obviously):

![screen shot 2015-09-18 at 1 41 22 pm](https://cloud.githubusercontent.com/assets/9948030/9965179/e1662f34-5e0a-11e5-9b34-be54badd52c8.png)

So yes, we should probably try to make them at least similar.

[2015-09-19 11:40] Rumanti commented on #173
I designed the main footer yay (for responsiveness, try it) but dunno how to set up the footer on the forums..
GrannyCookies is the one who managed the forum haxx, so I assigned him :package:

[2015-09-21 10:37] liam4 commented on #173
Good idea lols.

[2015-09-21 10:37] liam4 commented on #173
Also footer looks great!

[2015-09-26 22:11] robinp7720 opened #175 "Don't make a specific mobile app"
Just a recommendation. Just make it a responsive web design.
Assuming that https://github.com/OpenSprites/OpenSprites/tree/master/public_html/app is a "mobile app"

[2015-09-26 22:13] robinp7720 opened #176 "Use prepared statements"
PDO and mysqli both support them. This is open to serious sql injection!

[2015-09-26 22:16] robinp7720 opened #177 "Make the webapp independant of opensprites.org"
Would make it easier for everyone

[2015-09-26 23:00] Firedrake969 commented on #177
that's the webapp's URL.  lol

[2015-09-26 23:04] robinp7720 commented on #177
@Firedrake969 many things such as the register page just link to opensprites.

[2015-09-26 23:05] Firedrake969 commented on #177
...what do you mean?

[2015-09-26 23:09] robinp7720 commented on #177
@Firedrake969 https://github.com/OpenSprites/OpenSprites/blob/master/public_html/register/index.php

[2015-09-26 23:10] Firedrake969 commented on #177
yeah it's a page on the site lol http://prntscr.com/8kuxyg

[2015-09-26 23:12] #177 closed

[2015-09-26 23:15] robinp7720 commented on #177
"independant of opensprites.org"

[2015-09-26 23:16] MegaApuTurkUltra commented on #177
I think what you mean to suggest is that we should avoid hard-coding the site domain in stuff. A refactor for that might be good.

[2015-09-26 23:16] Firedrake969 commented on #177
Yeah, wouldn't be too hard

[2015-09-26 23:17] MegaApuTurkUltra commented on #176
[-_-](https://github.com/OpenSprites/OpenSprites/blob/master/public_html/assets/includes/database.php#L180)

[2015-09-26 23:17] #176 closed

[2015-09-27 01:30] Rumanti commented on #175
For your information, we are (trying to) making the website design as responsive as possible.

.. Though I forgot _why_ some of the team wants to create an app.. It was decided months ago and no progress.

[2015-09-27 01:32] octad commented on #176
Hey Mega what happened on Scratch

[2015-09-27 01:36] Rumanti commented on #176
@octad .. This is not the place to ask such questions.. .-.

[2015-09-27 17:51] Firedrake969 commented on #175
I think it was primarily arinerron's idea.

[2015-09-27 21:41] Rumanti commented on #175
@Firedrake969: We already decided to make an app months before Arinerron joined. And during your inactivity, too. :P

[2015-09-28 00:20] Firedrake969 commented on #175
oh

[2015-10-18 14:02] DM5555 opened #179 "Add (boolean) featured to asset database and make it accessable via site-api"
^

1. I am creating this on github because no one reads jira anymore
2. I don't want to break the database

[2015-10-18 14:51] #170 closed

[2015-10-18 14:51] #171 closed

[2015-10-18 14:52] #175 closed

[2015-10-18 15:00] DM5555 commented on #172
TBH It looks alright atm

[2015-10-18 15:06] The-Cheese-Eater opened #180 "Finish carousels"
The carousels currently all show the same thing. What we really need is to remove the selection bar, and set the carousels to display a permanent selection, namely, what is written in the title box above each carousel.

Assigning to MATU because he has experience with the carousels.

[2015-10-18 15:08] DM5555 commented on #180
The same-thing carousels was my fault

[2015-10-18 16:21] Firedrake969 commented on #180
Who made the carousel CSS?

[2015-10-18 16:21] Firedrake969 commented on #172
it bugs me

[2015-10-18 16:22] DM5555 commented on #172
Fine, I'll see if It's the svg or the css and fix it

[2015-10-18 16:22] DM5555 commented on #180
dunno

[2015-10-18 16:34] DM5555 commented on #172
Actually the logo is cropped already, but with the shadows included, if I were to make it smaller then I would have to cut parts of the logo short

[2015-10-18 16:54] The-Cheese-Eater commented on #180
MATU I think

[2015-10-18 19:24] DM5555 commented on #179
Just realised it was implemented, but not documented, closing

[2015-10-18 19:24] #179 closed

[2015-10-18 20:09] #172 closed

[2015-10-18 20:12] DM5555 opened #181 "Other user's avatar's are not visible, and none at all when you are logged out"

[2015-10-18 20:33] The-Cheese-Eater commented on #180
@DM5555 Seems to have the first two carousels under control.

[2015-10-19 11:34] #181 closed

[2015-10-19 14:14] Rumanti commented on #180
hai can u feature mai stuff plz
...
Seriously, though, feature some stuff please. To be honest, partially filled carousels look horrible.

[2015-10-19 14:27] DM5555 commented on #180
@Rumanti As far as I know there is no feature button at the moment, I'll see If I can implement it

[2015-10-19 21:09] The-Cheese-Eater commented on #180
I've featured three things so far (three is better than two :P)

It's done via the database at the moment, by basically giving a value in the IsFeatured? column. Obviously not ideal.

[2015-10-19 21:11] The-Cheese-Eater opened #182 "Add more warm colours to warm theme"

[2015-10-19 21:27] The-Cheese-Eater opened #183 "We've decided on the licensing of media, yes?"
It seems to be a grey area that I've forgotten about. I think we should follow Scratch with the Attribution-ShareAlike 2.0 Generic license, although I'm not sure about freedom to use commercially. If we disallowed commercial use, this would create a bit of friction with using media from OS in projects, yes?

Whatever we decide on, I'll make it my job to document the decision; we should also make a

[2015-10-19 22:50] Rumanti commented on #183
Wait aren't the media MIT Licensed? Or is it only the site?

[2015-10-20 21:13] The-Cheese-Eater commented on #183
The site and source is licensed under the MIT license. To quote the footer, "Unless where otherwise stated, this site is licensed under a MIT license." Assets don't apply to this license.

[2015-10-21 00:18] Rumanti commented on #183
This sounds perfect. http://creativecommons.org/licenses/by-nc-sa/4.0

[2015-10-21 21:32] The-Cheese-Eater commented on #183
I think for maximum compatibility we need to go with the license Scratch uses, http://creativecommons.org/licenses/by-sa/2.0/deed.en. Agreed?

[2015-10-22 23:34] Rumanti commented on #183
To be honest, I don't think people should be able to use media shared on OpenSprites commercially..

[2015-10-23 21:24] The-Cheese-Eater commented on #183
Neither do I, but we may face issues with letting people using media on OS on Scratch. In effect, if someone uploaded media from OS to Scratch, it would become licensed under Scratch's license (http://creativecommons.org/licenses/by-sa/2.0/deed.en), and it would be allowed to use commercially anyway. Whatever license we implement here, you'll still be able to use media commercially some how. It's

[2015-10-23 22:30] liam4 commented on #183
+1

[2015-10-23 22:37] Firedrake969 commented on #183
+1

[2015-10-24 00:42] Rumanti commented on #183
That makes sense +1

[2015-10-24 10:09] The-Cheese-Eater commented on #183
Righto, I guess that is sorted then. I'll edit the documents.

[2015-11-02 19:03] The-Cheese-Eater opened #184 "Ocean theme turns screen black"
Functionality can be returned by clearing one's cookies and cache.

[2015-11-02 23:17] Rumanti opened #185 "Front-end for Collections"
The back-end is already done. But no front-end, yet.

Someone please do this quickly because the release of OpenSwag depends 100% on this :stuck_out_tongue_winking_eye:

[2015-11-03 00:02] Firedrake969 commented on #185
we're releasing?  :package:
well
mystuff in elemental needs to be done hint hint hint so sublt

[2015-11-03 04:11] Rumanti commented on #185
@Firedrake969 riiiiiiight :package:

[2015-11-03 09:24] liam4 commented on #185
Duplicate of https://github.com/OpenSprites/OpenSprites/issues/180 :package:

[2015-11-03 11:40] mhsjlw commented on #184
I have just experienced this same bug.

[2015-11-03 22:28] The-Cheese-Eater commented on #184
Just pushed a commit to disable the ocean theme. I'll re-enable when the style is bug free.

[2015-11-03 22:39] The-Cheese-Eater opened #186 "MP3s rejected"
This has been brought up on the forums, and is pretty important. I tried uploading a Windows sample MP3, but it is rejected with: "Something bad happened and our servers sent back a bad response. Contact us if this continues". The progress bar appears to function, but the file doesn't exist. Please can @MegaApuTurkUltra look into this since he had a large part of the upload system.

[2015-11-04 01:10] Rumanti commented on #185
@liam4 no it's not this one is about the feature (users/userid/collectionhash) that one is about the homepage carousels

[2015-11-04 14:46] liam4 commented on #185
Oh okay :package:

[2015-11-05 23:15] liam4 opened #187 "Can't upload hidden assets"
I added a hidden asset to my upload list.

However, when I click on Submit, the following error gets logged:

[code]

So hiddenAssets isn't being defined (properly) somewhere..?

[2015-11-05 23:18] liam4 opened #188 "Errored GIF upload isn't being displayed?"
I tried to upload a 3 MB GIF. After the upload request finished, the following object got logged to my console:

[code]

However nothing outside of looking through an object in the console told me my asset upload had errored.

High-priority?

[2015-11-06 16:36] The-Cheese-Eater commented on #188
I'm guessing that along with the other upload errors we keep getting that this has something to do with size limits. For example, I can upload small images but not larger ones. Same with audio. I'll assign @MegaApuTurkUltra because he has the most experience with this.

[2015-11-06 16:37] The-Cheese-Eater commented on #187
It is a feature that hasn't been implemented. I only want it to show for images, so if someone wishes to host an image for the forums it won't clog up the site.

[2015-11-06 17:06] liam4 commented on #188
I get _why_ it doesn't upload, but we need to get a dialog to appear if the image doesn't upload properly

[2015-11-06 20:30] The-Cheese-Eater commented on #188
Pretty sure an error is displayed near the top of the page?

[2015-11-07 04:05] Rumanti commented on #183
Seems solved.

[2015-11-07 04:05] #183 closed

[2015-11-08 11:27] Rumanti opened #189 "Fix the "image enlarger" feature bug"
For some reason, the "image enlarger" doesn't work.. You click the image, and you got the "dark-box" all right, but no enlarged image..

http://opensprites.org/forums/?p=38-larger-images/p1#p176

[2015-11-12 17:41] Arinerron commented on #187
Any updates on this?

[2015-11-13 11:40] Rumanti commented on #187
@Arinerron:

# nope

[2015-11-13 18:49] liam4 commented on #187
# _**`nope u w0t m8`**_
ftfy

[2015-11-14 22:05] The-Cheese-Eater opened #190 "Phase out Google hosted fonts"
We don't include Google in our privacy policy, and hosting our own fonts is pretty easy.

[2015-11-14 22:25] The-Cheese-Eater commented on #190
Done.

[2015-11-14 22:25] #190 closed

[2015-11-14 22:27] The-Cheese-Eater opened #191 "Remove ajax.googleapis.com dependance"
[This](https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js) is fetched from Google in the Header.html file. Is this required - can we not host the file ourselves?

[2015-11-15 13:44] liam4 commented on #191
BUT CHEESEEATER
THAT WOULD MEAN ADDING 200 EXTRA KB OF DATA
WE CAN'T POSSIBLY SPARE THAT

[2015-11-16 06:43] MegaApuTurkUltra commented on #191
We're not using ajax libs. It's literally just jquery :package:

[2015-11-16 07:06] The-Cheese-Eater commented on #191
So... does that mean we still need to fetch that from Google?

[2015-11-16 12:16] liam4 commented on #191
Why are we using jQuery when `document.querySelector` works fine? :package:

[2015-11-17 18:07] GrannyCookies commented on #191
Because jQuery is swaggy.

[2015-11-17 18:07] GrannyCookies commented on #191
[**@The-Cheese-Eater**](https://github.com/The-Cheese-Eater) commented on [16 Nov 2015, 07:06 GMT](https://github.com/OpenSprites/OpenSprites/issues/191#issuecomment-156943155 "2015-11-16T07:06:55Z - Replied by Github Comment Enhancer"):

No, just download the file and stick it in includes/js, it's just because whoever first made Header.html couldn't be bothered to download it.

[2015-11-17 18:10] liam4 commented on #191
so are promises

[2015-11-17 18:52] The-Cheese-Eater commented on #191
@GrannyCookies Thanks, will do :P

[2015-11-17 18:52] #191 closed

[2015-11-20 07:50] The-Cheese-Eater opened #192 "Image previews don't enlarge"
When clicking on an image on its 'profile', the box expands, but the image doesn't. Has been reported a number of times.

[2015-11-20 07:51] The-Cheese-Eater commented on #192
Whoops, already reported by @Rumanti

[2015-11-20 07:51] #192 closed

[2015-11-20 07:51] The-Cheese-Eater commented on #189
Yeah, we need to fix that :P

[2015-11-20 13:27] liam4 commented on #192
lolol

[2015-11-21 06:04] Rumanti commented on #192
:package:

[2015-11-21 18:16] GrannyCookies commented on #182
I'm thinking that somebody should make a material theme with http://materializecss.com.

[2015-11-21 18:18] GrannyCookies commented on #173
When you assign me stuff, notify me on gitter, I don't check my github notifications :P

**Working on it.**

[2015-11-21 20:08] The-Cheese-Eater opened #193 "Error message images not displaying"
For example, opensprites.org/lalalalala

[2015-11-21 20:14] GrannyCookies commented on #193
It's because of the **REALLY STUPID** css rule:
[code]
I have no idea why it was ever put it place in the first place.

[2015-11-21 21:55] The-Cheese-Eater commented on #193
Glad that's sorted then. :P

[2015-11-21 21:55] #193 closed

[2015-11-21 22:18] The-Cheese-Eater commented on #189
GC's faulty CSS property find has fixed this. :D

[2015-11-21 22:18] #189 closed

[2015-11-22 03:14] 109C commented on #192
:box:

[2015-11-22 03:14] 109C commented on #192
Whoops, wrong issue...

[2015-11-22 08:46] GrannyCookies commented on #192
Easy fix- use css `background: url('path/to/image') contain 50% 50%;`.

[2015-11-27 04:00] JelloMonster118 opened #194 "Footer on forums"
doesn't look very good.

[2015-11-27 05:47] Arinerron commented on #194
I've been noticing that too... I'll talk to them about it...

[2015-11-27 11:27] Rumanti commented on #194
This issue is a duplicate of an issue already created by Liam4. Sorry can not link now, got to go to 800+ km away to Yogyakarta.

[2015-11-27 14:32] liam4 commented on #194
\*cough\* \*cough\* #173 :package:

[2015-11-27 14:32] #194 closed

[2015-11-28 22:48] GrannyCookies commented on #173
The code is in, but **an admin needs to push to the non-osdev site for it to work**.

[2015-11-29 10:42] The-Cheese-Eater commented on #173
All done. The CSS needs tweaking, but nothing major.
I'm also looking into allowing the team to run OSDEV builds on TeamCity independently.

[2015-11-29 10:42] #173 closed

[2015-11-29 13:13] GrannyCookies commented on #173
@The-Cheese-Eater Great.

[2015-11-30 21:17] liam4 commented on #173
Cool!

[2015-12-06 11:05] Rumanti opened #195 "Blog isn't mobile friendly"

[2015-12-06 19:37] GrannyCookies commented on #195
How so?

[2015-12-06 21:34] 109C commented on #195
@GrannyCookies Not enough :package: ?

[2015-12-07 02:23] Rumanti commented on #195
@GrannyCookies Er... Fix it? It's really annoying to read on mobile (or small screens)
@109C ...

[2015-12-07 02:44] 109C commented on #195
@Rumanti Just kidding. But there shouldn't be to much of a difference between the normal version and the mobile version, so this shouldn't be too difficult.

[2015-12-12 08:56] The-Cheese-Eater opened #196 "New CSS messes up blog"
Check OSDEV, most of the elements including the nav are messed up.

[2015-12-12 10:23] liam4 commented on #196
That's treu.

[2015-12-12 10:30] GrannyCookies commented on #196
:/ tbh I think the blog needs a rewrite server-side

[2016-02-15 08:43] Arinerron commented on #196
Update: I've added a temporary fix which should work for now. Unfortunately, I can't test it due to the amount of time it is taking for osdev to update, and the fact that it is 1:00 in the morning. :stuck_out_tongue_winking_eye:

[2016-02-15 09:15] Arinerron commented on #196
Closing issue: My latest commit fixes this CSS mess up. There was a rouge `height: 35px;` line in there. :stuck_out_tongue_winking_eye:

[2016-02-15 09:15] #196 closed

[2016-02-15 09:26] Arinerron commented on #185
Added those tags because:
- We do want help (I mean nobody is doing it anyways, and we all want each other to work on it [but nobody does anyways])
- The collections feature *is* a feature, believe it or not!
- It's technically not an issue, after all, it is not causing a problem. However, it is an enhancement that should be completed.
- It is on-going. This is under (on-going) development.

I was

[2016-02-15 21:09] Arinerron opened #197 "Warm Theme stops Register page from loading"
Go to the register page & switch to warm theme :P

[2016-02-15 21:18] Arinerron opened #198 "Themes don't fully work"
Ever since the new site design update, the themes no longer change all of the colors, thus, the site looks messy. For an example, try Dark then Warm theme on the front page (opensprites.org), and notice the cards don't change their backgrounds. This issue is not only with the Dark and Warm theme, I just used those two because they are the most different, and I wanted to show you that it is not jus

[2016-02-15 21:24] Arinerron opened #199 "[BACKEND] 'Something bad has happened and our servers sent back a bad response'"
'Something bad has happened and our servers sent back a bad response. Contact us if this continues'. This message occurs when doing certain actions that include (but are not limited to):
- Uploading resources and media
- Uploading new user photo

This is extremely important that this gets fixed @OpenSprites/backend-php , because the entire purpose of OpenSprites no longer works, due to this bug.

[2016-02-15 21:26] Arinerron commented on #199
^ I can't assign the entire backend team :P

[2016-02-15 21:49] liam4 commented on #199
whoa @github team please add assigning organization groups o_o

[2016-02-15 22:04] Firedrake969 commented on #199
lol php

[2016-02-16 08:51] GrannyCookies commented on #199
this.

[2016-02-16 15:51] 109C commented on #199
I suppose this is why one should not push to master.

[2016-02-16 16:10] Firedrake969 commented on #199
lol pushing directly to prod

[2016-02-18 01:33] Arinerron opened #200 "OpenSprites Resources icon missing on all pages?"
I know this is a known issue, this is just a reminder for people who don't know what to do currently

https://opensprites.org/

[2016-02-18 01:35] Arinerron commented on #200
I'm putting this task on @The-Cheese-Eater :stuck_out_tongue_winking_eye: I remember him mentioning this before, so he must know more about this. :P

[2016-02-18 12:31] liam4 commented on #200
https://github.com/OpenSprites/OpenSprites/blob/master/public_html/navbar.php#L79

This is empty - shouldn't there be an `img` tag there, like [here](https://github.com/OpenSprites/OpenSprites/blob/master/public_html/navbar.php#L13)?

[2016-02-18 12:32] liam4 commented on #200
This definitely isn't low priority! How do people know if they're on OS or not if the logo isn't there? :P

[2016-02-19 01:20] Arinerron commented on #200
Fine liam4 :stuck_out_tongue_winking_eye:

[2016-02-19 01:22] Arinerron commented on #200
![screenshot_2016-02-18-17-21-36](https://cloud.githubusercontent.com/assets/3926753/13163721/25e90a2e-d664-11e5-9d6b-58c705b126dc.png)
How will they know? :P

[2016-02-19 18:10] The-Cheese-Eater commented on #200
When I ran the http to https find and replace job, it must have replaced some info in the svg file, making it go odd. I've restored the original images from backup. In my browser the image is still hidden until enabled in inspect element. Does this happen to anyone?

[2016-02-19 18:28] liam4 commented on #200
It appears right away for me.

[2016-02-19 19:42] #200 closed

[2016-02-19 23:00] DM5555 opened #201 "[BACKEND] A stuff.php for collections needs to be done, as currently there is no way of listing collections for a certian user"
Needs to be done for #185 to be done

[2016-02-20 01:53] Arinerron commented on #201
:package:

[2016-02-20 12:48] #180 closed

[2016-02-20 12:48] The-Cheese-Eater commented on #180
The carousels were finished a while ago by GrannyCookies.

[2016-02-20 12:50] The-Cheese-Eater commented on #186
Merge with #199

[2016-02-20 12:50] #186 closed

[2016-02-20 12:50] The-Cheese-Eater commented on #188
Merge with #199

[2016-02-20 12:50] #188 closed

[2016-02-20 12:51] The-Cheese-Eater commented on #187
Since we're working on a separate hosting service, this isn't needed any longer.

[2016-02-20 12:51] #187 closed

[2016-02-20 12:53] The-Cheese-Eater commented on #197
Merge with #198

[2016-02-20 12:53] #197 closed

[2016-02-24 00:07] Arinerron opened #202 "Unable to go to user page from forum post"
------

![screenshot from 2016-02-23 16 03 13](https://cloud.githubusercontent.com/assets/3926753/13271049/2e94f656-da47-11e5-8c5c-f05493a9ef5f.png)

------
In the forums, on a post, you can click the person's username to go to their profile page. Well, at least you are supposed to be able to click the username. When you click it, it goes to
`https://opensprites.orgusers/index.php?id=1` rather tha

[2016-02-25 20:03] QuillzLouis opened #203 "Do you need a front end developer?"
Hi Louis/QuillzToxic Here,
I was wondering if you are after another front end developer, I have taken a course on programming and want to get onto a project to improve my skills

[2016-02-25 23:28] The-Cheese-Eater commented on #203
I'm afraid that you've arrived a little too late; most of our frontend work had already been done!

[2016-02-25 23:36] QuillzLouis commented on #203
What about issue 108?

[2016-02-25 23:39] QuillzLouis commented on #203
And also, just a refresh, why did I get rekicked after you added me back in in issue #137

[2016-02-25 23:48] Firedrake969 opened #204 "Please remove the tag clutter"
Just one example - http://prntscr.com/a7zf6y
Two joke tags.
Contrary to popular belief, it's not a bug and a feature at the same time - either existing code is broken or you're implementing a new feature.  Fixing an old thing or making a new thing (even from a working old thing).
The other issues are similar.

Honestly it's just that the tag section seems huge and ugly IMHO

[2016-02-25 23:51] QuillzLouis commented on #204
Well, it could be both (The example flew out of my head) but I agree

-Random guy who has nothing to do with the project

[2016-02-26 00:03] QuillzLouis commented on #203
As far as I know, I'm still in the project, I just went inactive....

[2016-02-26 00:04] Firedrake969 commented on #203
I'm pretty sure being kicked out means being kicked out.

[2016-02-26 00:11] QuillzLouis commented on #203
Actually if you read #137 "@The-QullzToxic we removed you because you seriously screwed code up. I know you used the command line thing, and you're new at it, but that's not really an excuse. If you know you're bad at the command line git, you should have used a GUI-based git, especially on a critical project like OpenSprites. You can test command line git all you want on your own repos.

What you

[2016-02-26 00:12] QuillzLouis commented on #203
Sorry about my huge quotes

[2016-02-26 00:17] QuillzLouis commented on #203
As of further point that Zeus may of kicked me, when I asked for a gwiddle account he first said something along the lines of "You can not revive a gwiddle account because of a unsolved argument".

Oh and Zeus, what happend with your DMCA strike agenst me with Scratch Mobile?

[2016-02-26 00:20] Firedrake969 commented on #203
Read this.

I would say you need to prove your aptitude with git before letting you back in, or doing some pull requests instead of getting write permissions.  Preferably the latter.

[2016-02-26 00:23] QuillzLouis commented on #203
Yeah, but you all seem to talk on gitter, and its sorta the only way to
receive tasks.
On 26 Feb 2016 12:20 a.m., "Firedrake969" <notifications@github.com> wrote:

[2016-02-26 00:29] QuillzLouis commented on #198
I'll try and fix this tommorow

[2016-02-26 00:39] QuillzLouis commented on #203
Anyway, I'm going to have a go at fixing the themes.

[2016-02-26 00:50] Firedrake969 commented on #203
As if we're productive on Gitter :package:
Well, there are tasks here you can start on.

[2016-02-26 00:53] QuillzLouis commented on #203
Gitter is easier to get hold of people on, because your so active over
there (Trust me.)

[2016-02-26 01:19] Firedrake969 commented on #203
We all see this too.  Maybe I'm the only one bothering to reply to you?
Considering the fact that you're not in our Gitter rooms, though, I would say that I have more authority about that than you...  :/  The productivity is on Github, and the offtopicness is on Gitter.  Just make PRs.  Then we'll see.

[2016-02-26 01:55] Arinerron commented on #203
Considering the fact that you're not in our Gitter rooms, though, I would say that I have more authority about that than you... :/ The productivity is on Github, and the offtopicness is on Gitter. Just make PRs. Then we'll see.

^ that

[2016-02-26 01:59] Arinerron commented on #197
@The-Cheese-Eater They are two completely different issues though :/

[2016-02-26 02:01] Arinerron commented on #204
There, legitimate tags.

[2016-02-26 07:06] QuillzLouis commented on #203
@Firedrake969 Technically I made gitter #92

[2016-02-26 13:53] Firedrake969 commented on #203
Ok... are you trying to imply anything?

[2016-02-26 16:02] QuillzLouis commented on #203
Not really, working on the themes now.

[2016-02-26 16:17] #203 closed

[2016-02-26 16:18] QuillzLouis opened #205 "How do I go about setting up a local server?"
Hi I want to test some code I wrote, how do I setup a local web server to test it on?

[2016-02-26 16:29] The-Cheese-Eater commented on #197
Yeah, but pretty much all of the themes are broken.

[2016-02-26 16:30] The-Cheese-Eater commented on #205
https://github.com/OpenSprites/OpenSprites/wiki/Developer-tools:-Installing-and-using-WampServer-on-Windows-XP,-Vista,-7,-8,-and-8.1

[2016-02-26 16:30] #205 closed

[2016-02-26 16:32] QuillzLouis commented on #197
Not for long (Hopefully)

[2016-02-26 16:40] Tymewalk opened #206 "Uploading scripts menu looks weird"
![Notice that it hovers off of the box.](http://i.imgur.com/UFRoJsc.png)
It hovers off of the box, making it look strange.

If someone can tell me where the code for that is I might be able to help.

[2016-02-26 16:46] QuillzLouis commented on #198
I has fixed this, I shall do a push request.

[2016-02-26 16:58] QuillzLouis opened #207 "Selfhosting directs to opensprites.org ._."

[2016-02-26 17:09] QuillzLouis commented on #198
Why do we need themes?
There a pain to keep updating

[2016-02-26 19:37] QuillzLouis commented on #182
Somebody <3

[2016-02-27 02:40] Arinerron commented on #198
Lol whoops, accidently tapped close on my phone

[2016-03-03 02:17] Arinerron commented on #204
^ :stuck_out_tongue_winking_eye:

[2016-03-03 16:56] The-Cheese-Eater commented on #204
I've removed the joke tags. Now it's up to everyone else to choose the appropriate ones.

[2016-03-03 16:56] #204 closed

[2016-03-03 21:59] Firedrake969 commented on #204
:)

[2016-03-13 14:57] Arinerron opened #209 "Forum Navbar Missing?!"
Only on mobile, the navbar on OpenSprites Forum goes missing. Here's a screenshot:
![screenshot_2016-03-13-07-55-54](https://cloud.githubusercontent.com/assets/3926753/13729387/346fbd32-e8f1-11e5-81f0-767d22e71485.png)
Oh, and when I request a desktop view it is also fine, but not mobile friendly.

[2016-03-16 06:47] Booligoosh opened #210 "<li> elements displaying on top of each other"
All <li> elements are displaying on top of each other on the blog page of the site on Chrome on a mac

An example is below:
![screen shot 2016-03-16 at 5 45 50 pm](https://cloud.githubusercontent.com/assets/14034891/13804205/25368dc2-eb9f-11e5-9f90-9c0ad9931db2.png)

[2016-03-16 11:20] liam4 commented on #210
Hmm..

This is how that post renders for me:

![render](https://cloud.githubusercontent.com/assets/9948030/13810716/f5bcf9e0-eb4f-11e5-9961-bc47d1a1a2f4.png)

[2016-03-16 14:41] Firedrake969 commented on #210
oops I thought this was on Elemental for some reason lol

[2016-03-16 14:44] liam4 commented on #210
opensprites is elemental 2016 confirrrrrrmed

[2016-03-16 15:04] Firedrake969 commented on #210
I only realized because I checked Elemental and we don't have li yet :P

[2016-03-21 18:08] The-Cheese-Eater commented on #166
This isn't really an issue anymore.

[2016-03-21 18:08] #166 closed

[2016-03-21 18:08] The-Cheese-Eater commented on #199
This pretty much happens with most uploads.

[2016-03-21 18:23] The-Cheese-Eater opened #211 "Downloads don't carry their file extention"
Media files are not being downloaded as [MediaName].[FileExtension], but instead are being _named_ their original file extension. This causes the client computers to not recognise what program to open the media with. The server needs to specify the file type in downloads.

[2016-03-21 18:25] trumank commented on #199
Has anyone tried a `$ git bisect`?

[2016-03-21 20:35] Tymewalk commented on #199
@trumank I'll take a look. Does anyone know of the last commit this worked at?

[2016-03-21 21:17] The-Cheese-Eater commented on #199
It hasn't ever been completely reliable, but it was workable in earlier versions of the site - hundreds of commits down the line.

[2016-03-21 21:37] Tymewalk commented on #199
@The-Cheese-Eater Do you have an idea of when that was, or at what release?
Also, how would I test the backend?

[2016-03-21 21:41] 109C commented on #207
How is this not a bug.

[2016-03-21 21:58] The-Cheese-Eater commented on #207
He's talking about hosting a development copy locally, by the way.

No OS developer here uses a local copy because the whole website is specifically built around our setup and getting every link on the website to point to its root location instead of the OS domain isn't worthwhile.

[2016-03-21 22:00] QuillzLouis commented on #207
It still is worthwhile what if you change domain? Find and replace could
fix this.
On 21 Mar 2016 9:58 p.m., "James" <notifications@github.com> wrote:

[2016-03-21 22:01] The-Cheese-Eater commented on #199
Trying to look at when the code worked probably won't help here, this is more analysing and fixing bugs and problems. Testing code is a bit difficult because OpenSprites is built around our setup and requires two databases to function. Testing is basically revising over changes for common errors and pushing it to GH, where I can update the site.

[2016-03-21 22:04] QuillzLouis commented on #199
Still, something should be done, it is much more productive to be able to
find errors in your code instantly.

[2016-03-21 22:13] The-Cheese-Eater commented on #207
Why would we ever change domain names?

[2016-03-21 22:14] QuillzLouis commented on #207
You never know.

[2016-03-21 22:14] Firedrake969 commented on #207
Honestly, I agree with Quillz, if I'm reading this correctly - are you saying to not develop locally?

[2016-03-21 22:18] QuillzLouis commented on #207
That would sorta work, l am suggesting a way to instantly test your code.
On 21 Mar 2016 10:14 p.m., "Matthew" <notifications@github.com> wrote:

[2016-03-21 22:18] Firedrake969 commented on #207
unittestsunittestsunittestsunittests

[2016-03-21 22:21] QuillzLouis commented on #207
Wut the hell
On 21 Mar 2016 10:18 p.m., "Matthew" <notifications@github.com> wrote:

[2016-03-21 22:25] The-Cheese-Eater commented on #207
https://lmddgtfy.net/?q=unittest

[2016-03-21 22:33] Firedrake969 commented on #207
Oh yeah you guys are using straight PHP aren't you lol
This is a great example of technical debt :P

[2016-03-21 22:35] QuillzLouis commented on #207
A python library? I didn't think open sprites used python?
On 21 Mar 2016 10:33 p.m., "Firedrake969" <notifications@github.com> wrote:

[2016-03-21 22:52] Firedrake969 commented on #207
Where did Python come into this?  o.o

[2016-03-22 00:09] Tymewalk commented on #199
@The-Cheese-Eater @QuillzLouis Either way, it's better than nothing.
Is there a way to get specific errors from the server? Maybe we're just missing a semicolon :stuck_out_tongue:

[2016-03-22 07:34] QuillzLouis commented on #207
Unittest

[2016-03-22 13:33] Firedrake969 commented on #207
That's not exclusive to Python :P

[2016-03-22 13:38] Tymewalk commented on #199
Checked the PHP files with `php -l`, looks like it's not just a missing semicolon.

[2016-03-22 20:25] GrannyCookies commented on #207
_To be honest the best way to fix these bugs is a rewrite._
/controversial

[2016-03-22 20:45] The-Cheese-Eater commented on #207
^ pls rewrite in node k tnx bye

[2016-03-22 21:25] Firedrake969 commented on #207
that wouldn't be that bad :P

[2016-03-22 21:35] QuillzLouis commented on #207
Pls rewrite in English merci

[2016-03-23 01:30] 109C commented on #207
@QuillzLouis mais qui etait telephone?

[2016-04-09 15:31] Arinerron commented on #199
Thank you @The-Cheese-Eater!

[2016-04-09 15:31] #199 closed

[2016-04-09 17:36] #211 closed

[2016-04-09 17:36] #207 closed

[2016-04-09 17:36] #182 closed

[2016-04-09 17:37] The-Cheese-Eater commented on #198
Themes aren't really a priority.

[2016-04-09 17:37] #198 closed

[2016-04-09 17:37] The-Cheese-Eater commented on #184
Themes aren't really a priority.

[2016-04-09 17:37] #184 closed

[2016-04-09 18:44] liam4 commented on #211
Was this fixed?

[2016-04-09 18:45] liam4 commented on #211
Looks like it was -- downloading [this](https://opensprites.org/users/mysterywave/d77207bc0461faa5d254a356bf1bd9d2/) gave me a file called "OpenSprites-Download.jpg". It'd be nice if the name of the upload was included in that file name somewhere though. Maybe open a new issue for that?

[2016-04-09 21:29] The-Cheese-Eater commented on #211
The only way to keep the file extension was to remove the name of the asset from the download name. I'm hoping this is a temporary fix, and that someone in the chat will pick it up.

[2016-05-17 18:25] nanalan commented on #202
[This looks fixed.](https://github.com/OpenSprites/OpenSprites/blob/master/public_html/forums/core/lib/functions.render.php#L80)

[2016-06-16 01:34] Arinerron commented on #202
Hmmm... It does look fixed, but it isn't.
On [this page](https://opensprites.org/forums/?p=50-verification-link-problem) for example, clicking his icon directs to https://opensprites.orgusers/index.php?id=109

[2016-06-16 01:37] Arinerron commented on #202
Even weirder: Hovering over the icon has the correct link, but clicking on it gives you the link without the slash.

[2016-06-16 01:41] Arinerron commented on #202
Speaking of [the example forum post](https://opensprites.org/forums/?p=50-verification-link-problem), I just read the post and realized he is experiencing a similar problem (where the slash is missing).

[2016-06-16 01:43] Arinerron commented on #202
This is a higher priority issue since it is now affecting more than just one url, and users.

[2016-06-16 15:44] nanalan commented on #202
:-1: Sounds like a bug with the OpenSprites server setup - @The-Cheese-Eater thoughts.

[2016-06-16 18:19] #202 closed